<!-- footer.html -->
<div class="footerbowling">
    <div class="footer-container">
        <div class="footer-section">
            <div class="footer-media">
                <h4>Följ oss på:</h4>
                <div class="footer-media-container">
                    <a href="https://www.facebook.com/search/top?q=h%C3%B6gdalens%20bowlingpalatz" class="media-link" target="_blank">
                        <img src="../images/vitfacebook.png" class="facebook-icon" alt="Facebook Logo">
                    </a>
                    <p>Facebook</p>
                </div>
                <div class="footer-media-container">
                    <a href="https://www.instagram.com/bowlingpalatzet/" class="media-link" target="_blank">
                        <img src="../images/vitinstagram.png" class="facebook-icon" alt="Instagram Logo">
                    </a>
                    <p>Instagram</p>
                </div>
            </div>
        </div>
        <div class="footer-section">
            <h4>Ni hittar oss:</h4>
            <p>Tyresö Bowlingpalatz</p>
            <p>Pluggvägen 2 (Tyresöhallen)</p>
            <p>135 46 TYRESÖ</p>
            <a href="https://www.google.com/maps/search/?api=1&query=Pluggvägen+2,+135+46+Tyresö" target="_blank" class="location-link">
                <span class="material-symbols-outlined" id="location-icon">explore_nearby</span>
                Hitta Hit
            </a>
        </div>           
        <div class="footer-section">
            <div class="footer-menu-container">
                <a href="#" class="cta-button">Resultat</a>
            </div>
        </div>
    </div>
    <br>
    <div class="footer-bottom">
        © 2024 Palatzet Bolldalen AB. Alla rättigheter reserverade
    </div>
</div>
